@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#292C34;
}

img{
    width: 20vw;
    height: 20vh;
    border: 4px solid  #E2584D;
    border-radius: 25%;
}

img:hover{
    cursor: pointer;
    border: 10px solid black;
}

header{
    background: white;
    padding: 20px;
}

.green-glow{
    border: 4px solid #4dcc7d;
    border-radius: 25%;
    box-shadow: 0 0 10px #31b43a;
}

.red-glow{
    border: 4px solid #fc121b;
    border-radius: 25%;
    box-shadow: 0 0 10px #d01115;
}


.gray-glow{
    border: 4px solid #464647;
    border-radius: 25%;
    box-shadow: 0 0 10px #25292b;
}

header > h1 {
    color: #24272E;
    text-align: center;
    font-family: Asap, sans-serif;

}

.score-board{
    margin: 20px auto;
    border: 3px solid white;
    border-radius: 4px;
    text-align: center;
    width: 200px;
    color: white;
    font-size: 46px;
    padding: 15px 20px;
    font-family: Asap, sans-serif;
    position: relative;
}

.badge{
    background-color: #E2584D;
    color: white;
    font-size: 14px;
    padding: 2px 10px;
    font-family: Asap, sans-serif;
}

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 30px;
    right: -30px;
}

.result{
    font-size: 40px;
    color: white;
}

.result > p {
    text-align: center;
    font-weight: bold;
    font-family: Asap, sans-serif;
}

 .choices{
     margin-top: 50px;
     text-align: center;
 }

.choice{
    margin: 0 20px;
    display: inline-block;
}

#action-message{
    text-align: center;
    color: white;
    font-family: Asap, sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}